.nav a{
    width: 100px;
    height: 100px;
    background-color: #bf0010;
    border: .4px solid black;
}

.nav{
    margin-top: 56px;
    
    
}

.svg-icon-1{
    color: white;
    fill: white;
    width: 40px;
}

.svg-icon-2{
    color: white;
    fill: white;
    width: 30px;
}

.svg-icon-3{
    color: white;
    fill: white;
    width: 30px;
}

.svg-icon-4{
    color: white;
    fill: white;
    width: 40px;
}

a{
    color: white;
}

.ok{
    background-color: #bf0010; 
}

.largo{
    width: 100px;
    height: 1000px;
}

/* AMIGOTCHIS */

.img-1 img{
    width: 550px;
}


.card-link-1{
    color: #bf0010;
}